<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <div class="about-content back-color">
                    CodeXLabs Technologies (PVT) LTD  is a specialist software and
                    website development company that aims for highly qualified, 
                    timely and cost-effective services.
                    We provide  upstream software development , 
                    Mobile Application Development, 
                    Web Development and Web Hosting 
                    Services.
                    We are software professionals to convert your desires applicable,
                    with the brains that mastered in Computer Science and Engineering.
                </div>
                <!-- <button type="button" class="btn btn-primary">Read more>></button>  -->
            </div>
            <div class="col-md-6 skills-bar">
                <p>Flutter</p>
                <div class="progress">
                    <div class="progress-bar flutter">100%</div>
                </div>
                <p>Angular 9</p>
                <div class="progress">
                    <div class="progress-bar angular">80%</div>
                </div>
                <p>Android</p>
                <div class="progress">
                    <div class="progress-bar android">90%</div>
                </div>
                <p>Spring Boot</p>  
                <div class="progress">
                    <div class="progress-bar spring-boot">100%</div>
                </div>
                <p>UI Design</p>  
                <div class="progress">
                    <div class="progress-bar ui-design">50%</div>
                </div>
            </div>
        </div>
    </div>
</section>
