<section id="team">
    <div class="container">
        <h1>Our Mission</h1>
        <div class="row">
            <div class="col-md-12 profile-pic text-center goals">
                <p>To provide our customers high quality designs in web and mobile applications 
                    along with software maintainance and web hosting services. 
                   
                    
                </p>
            </div>
        </div>
    </div>
</section>


<!-- CodeXLabs Technologies  is a , specialist software and
website development company that aims for highly qualified, 
timely and cost-effective services,
we provide  upstream software development , 
Mobile Application development, 
web development and web hosting services.
We are software professionals to convert your desires applicable,
With the brains that mastered in Computer science and Engineering.  -->


 