<section id="services">
    <div class="container">
        <h1>Our Services</h1>
        <div class="row services">
            <div class="col-md-3 text-center">
              <div class="icon">
                <i class="fa fa-desktop"></i> 
              </div>  
              <h3>Web Development</h3>
              <p>We use latest technologies to develop iconic professional websites to fulfill your personal and business desires</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="icon">
                  <i class="fa fa-tablet"></i> 
                </div>  
                <h3>Mobile Application</h3>
                <p>We have brilliant skills to offer for mobile application development  
                    we give you creative and appropriate 
                    solutions for your needs for android and ios platforms using flutter and react native</p>
              </div>
              <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fa fa-bar-chart "></i> 
                </div>  
                <h3>Maintenance and Hosting</h3>
                <p>CodeXlabs Technologies has brilliant skills to offer for internet solutions to improve business performance. 
                    We ...</p>
              </div>
              <div class="col-md-3 text-center">
                <div class="icon">
                    <i class="fa fa-line-chart "></i> 
                </div>  
                <h3>Research & Development</h3>
                <p>CodeXlabs Technologies has brilliant skills to offer for internet solutions to improve business performance. 
                    We ...</p>
              </div>
        </div>
    </div>
</section>
