<section id="team">
    <div class="container">
        <h1>Our Team</h1>
        <div class="row">
            <div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                    <img src="../../assets/mayura.jpg" class="img-responsive">
                    <ul>
                        <a href="#"><li><i class="fa fa-linkedin"></i> </li></a>
                        <a href="#"><li><i class="fa fa-twitter"></i> </li></a>
                        <a href="#"><li><i class="fa fa-facebook"></i> </li></a>
                    </ul>
                </div>
                <h2>Mayura Dissanayaka</h2>
                <h3>Founder / CEO</h3>
                <p>This software engineer job description sample can help
                    in creating a job  </p>
            </div>
            <div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                    <img src="../../assets/asiri.jpg" class="img-responsive">
                    <ul>
                        <a href="#"><li><i class="fa fa-linkedin"></i> </li></a>
                        <a href="#"><li><i class="fa fa-twitter"></i> </li></a>
                        <a href="#"><li><i class="fa fa-facebook"></i> </li></a>
                    </ul>
                </div>
                <h2>Asiri Rajapaksha</h2>
                <h3>Founder</h3>
                <p>Student of University of kelaniya, Department of Software Engineering</p>
            </div>
            <div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                    <img src="../../assets/randika.jpg" class="img-responsive">
                    <ul>
                        <a href="#"><li><i class="fa fa-linkedin"></i> </li></a>
                        <a href="#"><li><i class="fa fa-twitter"></i> </li></a>
                        <a href="#"><li><i class="fa fa-facebook"></i> </li></a>
                    </ul>
                </div>
                <h2>Randika Samarakoon</h2>
                <h3>Developer</h3>
                <p>This software engineer job description sample can help
                    in creating a job </p>
            </div>
            <div class="col-md-3 profile-pic text-center">
                <div class="img-box">
                    <img src="../../assets/gihan.jpg" class="img-responsive">
                    <ul>
                        <a href="#"><li><i class="fa fa-linkedin"></i> </li></a>
                        <a href="#"><li><i class="fa fa-twitter"></i> </li></a>
                        <a href="#"><li><i class="fa fa-facebook"></i> </li></a>
                    </ul>
                </div>
                <h2>Gihan Ekanayak</h2>
                <h3>Developer</h3>
                <p>This software engineer job description sample can help
                    in creating a job </p>
            </div>
        </div>
    </div>
</section>
